

.estilo {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 14px;
}

.hero {
    font-size: 12px;
    left: -5px;
    top: -5px;
    position: relative;
}

.format {
    text-align: center;
}

.contneir {
    background-color:  #007bff;
}

/* ======= FABRICANTES ======== */

.botao {
   position: relative;
   left: 1000px;
   top: -44px;
    
}

/* ======= VISUALIZAR ======== */


.table {
    width: 85%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: transparent;
  }



  .table-dark thead {
    color: #fff;
    background-color: #0875e2; 
  }
  

  


  
